---
layout: default
title: Home
---

<div class="intro wrapper">
  <img class="head-cover"
       srcset="
          {{ '/public/assets/me/me_100.jpg' | absolute_url }}, 100w,
          {{ '/public/assets/me/me_364.jpg' | absolute_url }}, 364w,
          {{ '/public/assets/me/me_559.jpg' | absolute_url }}, 559w,
          {{ '/public/assets/me/me_697.jpg' | absolute_url }}, 697w,
          {{ '/public/assets/me/me_832.jpg' | absolute_url }}, 832w,
          {{ '/public/assets/me/me_896.jpg' | absolute_url }}, 896w,
          {{ '/public/assets/me/me_1002.jpg' | absolute_url }}, 1002w,
          {{ '/public/assets/me/me_1080.jpg' | absolute_url }}, 1080w"
       src="{{ '/public/assets/me/me_1080.jpg' | absolute_url }}," alt="">
  <h2>Ritik Kumar</h2>
  <p class="head-intro">
    Backend Engineer
    <br>
    Computer Network Enthusiast
  </p>

  <a href="/about" class="about-me-a">
    <button class="about-me-button">
      About Me &nbsp;<i class="fa fa-arrow-right"></i>
    </button>
  </a>

  <div class="soc-med">
    <a href="https://github.com/dev-ritik"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://twitter.com/ritik___"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/ritik-kumar/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://ritikk.medium.com/"><i class="fa fa-medium" aria-hidden="true"></i></a>
  </div>
</div>

<br>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      {% if post.medium %}
      <a href="{{ post.medium | absolute_url }}">
      {% else %}
      <a href="{{ post.url | absolute_url }}">
      {% endif %}
      {{ post.title }}
      </a>
    </h1>

    <section class="post-excerpt" itemprop="description">
<!--      https://gist.github.com/mikeygee/2626538-->
      {{ post.content | split:'<!--break-->' | first }}
      {% if post.medium %}
      <a href="{{ post.medium }}">read more...</a>
      {% else %}
      <a href="{{ post.url }}">read more...</a>
      {% endif %}
    </section>
    <br>
    <section class="post-meta">
      <div class="left-align"><i class="fa fa-calendar"></i> {{ post.date | date: "%B %-d, %Y" }}</div>
      {% include reading-time.html %}
    </section>
  </div>
  {% if forloop.last == false %}
  <hr>
  {% endif %}
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
