{% if page.title != "About" %}
<footer class="site-footer">
  <hr class="footer-hr">
  <div align="center">
    <p>
      <a href="mailto:ritikkne@gmail.com"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://github.com/dev-ritik"><i class="fa fa-github" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://twitter.com/ritik___"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="https://www.linkedin.com/in/ritik-kumar/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
      <a href="{{ "/atom.xml" | prepend: site.baseurl }}"><i class="fa fa-rss" aria-hidden="true"></i></a>
      &nbsp; &nbsp; &nbsp;
    </p>
  </div>
  <p class="credit">Designed and Developed by <a href="https://twitter.com/ritik___">Ritik</a> in <i
    class="fa fa-heart"></i> with <i class="fa fa-code"></i> and <i class="fa fa-coffee"></i></p>

</footer>
{% endif %}
<!-- Scripts -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script>

</script>
